<div class="page-header">
  <h1>Authors</h1>
</div>

<table id="authors" class="table table-bordered datatable" 
       data-source="<%= authors_url(format: "datatable") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number of book(s)</th>
      <!-- <th>Select</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

